<ul>
  <li *ngFor="let list of mainArray; let i = index">
    <div class="m-t-20" (mouseenter)="mouseEnter(list.id)" (mouseleave)="mouseLeave()">
      <img class='icon'
        [src]="list?.type === 'file' ? 'assets/images/file-regular.svg' : 'assets/images/folder-open-regular.svg'">
      {{ list.name }}

      <span *ngIf="
          list.type === 'folder' && iconVisible && onFocusId === list.id
        " class="m-l-10">
        <button (click)="addFileOrFolder(list)">Add</button>
      </span>
      <button (click)="deleteFileOrFolder(list)" class="m-l-10" *ngIf="iconVisible && onFocusId === list.id">
        Remove
      </button>
    </div>

    <app-add-folder [mainArray]="list.children"></app-add-folder>

    <div *ngIf="objectId === list.id" class="m-t-20 width400">
      <div *ngIf="!selectedType && objectId === list.id">
        <button type="button" (click)="selectType('file')">File</button>
        <button type="button" (click)="selectType('folder')">Folder</button>
      </div>

      <span *ngIf="selectedType">
        <img class='icon'
          [src]="list?.type === 'file' ? 'assets/images/file-regular.svg' : 'assets/images/folder-open-regular.svg'">
        <input type="text" placeholder="Enter Name" class="m-l-10" [formControl]="name" />

        <button (click)="addChildren(list)">Add children</button>

        <button (click)="cancelFileOrFolder()">Cancel</button>

        <div *ngIf="!name.valid && (name.touched || name.dirty)">
          <div class="redColor m-l-25" *ngIf="name.errors && name.errors['required']">
            Name is required
          </div>
        </div>
      </span>
    </div>
  </li>
</ul>